$linkColor: hsl(171, 100%, 41%);
$activeColor: hsl(171, 100%, 41%);
$activeLinkColor: hsl(171, 100%, 35%);
$blueColor: #1883d4;
$logoColor: #f76720;
$borderColor: #e2e8f0;
$navBarBackgroundColor: #fff;
